# Root Docker Compose Environment Configuration

# Required Discord Bot Configuration
TOKEN=your_discord_bot_token_here
CHANNEL_ID=your_discord_channel_id_here

# LeetCode API Configuration
PORT=50520
LEETCODE_SESSION=

# Bot Config
LEETCODE_API_URL=http://leetcode-api:50520
CRON_SCHEDULE=0 11 * * *
ADMIN_PASSCODE=4444
ENABLE_AUTO_DEPLOY=false
